@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #ecf0f1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.image {
  width: 370px;
  margin-top: 50px;
}
@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}

hr {
  border: 1px solid rgba(0,0,0, 0.2);
}

.teste {
  margin: 10000px;
}